<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/img-1.png" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                Venkat Erikinaboina
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/venkat-e-54018815a/" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/verikinaboina" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:anji.subbu6@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I’m always excited to collaborate on new projects and explore innovative solutions. If you're looking
                for a dedicated software developer to turn your ideas into reality, let’s connect. I’d love to discuss
                how we can work together to bring your vision to life.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/venkat-e-54018815a/" target="_blank" class="a-green">
                    >> On LinkedIn <<
                </a>
            </button>
        </div>
    </div>
</div>