<div class="accordion-left">

  <accordion [isAnimated]="true">
    <accordion-group heading="University." panelClass="customClass" class="accordion-title">
      <div class="accordion-text">
        <ul>
          <li>
            <p>2020 - New England College <strong><span class="default-highlight">Data Analytics</span></strong> -
              Bachelor's Degree</p>
          </li>
          <li>
            <p>2016 - CalUMS, Virginia - <strong><span class="default-highlight">Computer Information
                  Systems</span></strong> - Master's Degree</p>
          </li>
          <li>
            <p>2012 - JNTU kakinada, INDIA - <strong><span class="default-highlight">Computer Science</span></strong> -
              Bachelor's Degree</p>
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group heading="Techs I use." panelClass="customClass" class="accordion-title">
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-angular-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-insomnia-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postman-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-swagger-plain"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-npm-original-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain-wordmark"></i>
        </div>
      </div>
    </accordion-group>

  </accordion>

</div>