<div class="align-items-center default-container">
    <div class="col-lg-9">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Venkat Erikinaboina, <span id="dynamic-text">{{ roleText }}</span></h2>
        <blockquote>
            I am a full stack developer with 5 years Experience with a passion for creating intuitive and visually appealing user interfaces, skilled in front-end and back-end frameworks like Angular, React.js, JavaScript, node.js(Express.js) and Java Spring-boot. Proven ability to collaborate effectively with UX designers and backend developers to deliver high-quality web applications.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > View My Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  